.blog_detail {
  width: 100%;
  flex: 1;
  padding-top: 70px;
  background-color: var(--bg-w-pure);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 60%;
  border-bottom: 3px var(--b-alpha-80) solid;
  padding: 40px 0;
}

.header .list_item_title {
  width: 100%;
  font-size: 24px;
  line-height: 1.4em;
  color: var(--b-alpha);
  cursor: pointer;
  transition: 0.1s;
  padding-bottom: 8px;
}

.header .list_item_title:hover {
  text-decoration: underline;
  font-weight: 500;
}

.header .list_item_info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 24px;
  color: var(--b-alpha-80);
}

.header .icon {
  font-size: 12px;
  margin-right: 4px;
}

.header .list_item_type {
  height: 24px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 20px;
}

.header .blog_item_class_border {
  padding: 0 4px;
}

.header .list_item_type_item {
  cursor: pointer;
  color: var(--b-alpha);
}

.header .list_item_type_item:hover {
  text-decoration: underline;
}

.header .list_item_time {
  height: 24px;
  line-height: 24px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
}

.content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 15px;
  border-bottom: 3px solid var(--b-alpha-10);
}

.footer{
  padding: 15px 0 30px;
  width: 60%;
}

.comment{
  width: 60%;
}

@media screen and (max-width: 1000px) {
  .header,
  .content,
  .footer,.comment {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .header,
  .content,
  .footer,.comment {
    width: 90%;
  }
}
