.lazyImg{
  position: relative;
}

.photography_image {
  object-fit: cover;
  padding: 4px;
}

.photography_image_div{
  border: 4px solid var(--bg-w-pure);
}

.photography_image_none{
  opacity: 0;
  z-index: -1;
  position: absolute;
}