.footer {
  width: 100%;
  padding: 30px 0 20px;
  background-color: var(--w-alpha-70);
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid var(--b-alpha-10);
  backdrop-filter: blur(8px);
}

.copyright {
  min-width: 240px;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.user {
  text-align: start;
  padding: 3px 30px;
  color: var(--b-alpha);
}

.legalText {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.link {
  padding: 3px 30px;
  color: var(--b-alpha-80);
  white-space: nowrap;
}

.other_websites,
.contact {
  min-width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 12px;
}

.title {
  text-align: start;
  padding: 3px 30px;
  color: var(--b-alpha);
  font-size: 14px;
}

.click{
  cursor: pointer;
}

.click:hover{
  color: var(--b-alpha);
  font-weight: 700;
}

.link_click{
  cursor: pointer;
}

.link_click:hover{
  color: var(--color-blue-hover);
  font-weight: 700;
  text-decoration: underline;
}

.modal :global .ant-modal-header{
  padding: 12px 8px;
  background-color: var(--w-alpha);
}

.modal :global .ant-modal-close-icon{
  color: var(--b-alpha-50);
}

.modal :global .ant-modal-content{
  background-color: var(--w-alpha);
  box-shadow: 0 0 10px 5px var(--b-alpha-10);
}

.modal :global .ant-modal-title{
  font-size: 18px;
  text-align: center;
  color: var(--b-alpha-80);
}

.modal p{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6em;
  padding: 4px 0;
  color: var(--b-alpha-70);
}

.modal .modal_footer{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6em;
  margin-top: 12px;
  color: var(--b-alpha-70);
}

@media screen and (max-width: 700px) {
  .user,
  .title {
    padding: 3px 30px;
  }

  .legalText {
    flex-direction: column;
    align-items: flex-start;
  }

  .other_websites,
  .contact {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 760px) and (min-width: 700px) {
  .user {
    padding: 3px 30px;
  }

  .legalText {
    flex-direction: column;
    align-items: flex-start;
  }
}
