.home {
  width: 100%;
}

.bg_card {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;
  transition: transform 1.5s, opacity 1s;
  transform: scale(1.05);
}

.bg_card_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg_mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -99;
}

.bg_content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  position: relative;
}

.bg_content .title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 60px;
  font-weight: bold;
  color: var(--txt-w-pure);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
  margin-bottom: 40px;
}

.bg_content .description_box {
  width: 80%;
  height: 72px;
  display: flex;
  justify-content: center;
}

.description_box .description {
  line-height: 24px;
  color: var(--txt-w-pure);
  font-size: 16px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
  text-align: center;
}

.bg_content .jiantou {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.bg_content .jiantou_icon {
  font-size: 36px;
  color: var(--txt-w-pure);
  font-weight: bold;
  opacity: 0.7;
  transition: 0.45s;
  cursor: pointer;
}

.bg_content .jiantou_icon:hover {
  opacity: 1;
}

.timeAixs{
  width: 80%;
}

@media screen and (max-width: 700px) {
  .bg_content .title {
    width: 100%;
    font-size: 28px;
  }

  .bg_content .description_box {
    width: 90%;
  }
}
