.dark #bg_mask {
  background-color: rgba(0, 0, 0, 0.2);
}

#nav_item {
  color: var(--txt-w-pure);
  font-weight: 600;
}

#nav_item:hover {
  color: var(--txt-w-pure);
}

#nav_mobile_list #nav_item,
.nav_active #nav_item {
  color: var(--b-alpha-60);
  font-weight: 400;
}

#nav_mobile_list #nav_item:hover,
.nav_active #nav_item:hover {
  color: var(--b-alpha-80);
}

/* 打字机光标颜色 */
/* .typed-cursor{
  color: var(--txt-w-pure);
} */
